/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
body {
    background-color: rgb(214, 157, 88);
  }
header {
    background-color: rgb(253, 221, 141);
}

footer {
    background-color: rgb(237, 198, 131);
}
h1{
    text-align: center;
    color: rgb(171, 87, 8);
}
p{
    color: darkorange;
    font-style: italic;
    font-size: large;
}
img {
    border: 7px solid #312149;
    border-style: double;
  }

  ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: rgb(171, 87, 8);
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }